@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*    basic elements */

body {
    background-color: #0e1220;
    color: #fff;
    font-family: sans-serif;
  }
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
h1{
    font-size: 28px;

}


/*    header   */


.header{
  width: 100%;
}



/* nav */

  .nav_link{
    color: #ffffff78;
    
}



