@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/*    basic elements */

body {
    background-color: #0e1220;
    color: #fff;
    font-family: sans-serif;
  }
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
h1{
    font-size: 28px;
    padding-left: 20px;

}


/*    header   */


.header{
  width: 100%;
}
.header_content{
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  padding: 0 20px;
}



/* nav */

  .nav_link{
    color: #ffffff78;
}
.nav_1{
    display: flex;
    column-gap: 20px;
}

.nav_link:hover{
  display: inline-block;
    color: #ffffff;
    border: 1px solid black ;
    background-color: black;
    padding: 15px;
    border-radius: 20px;
    transition: all 0.5s ;
}

.nav_2{
    display: flex;
    column-gap: 15px;
}


