html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(128, 128, 128);
}
h2{
    color: rgb(194, 194, 194);
}
p{
    color: rgb(22, 16, 16);
}
a{
    color: rgb(160, 0, 0);
}
textarea{
    resize: none;
}
/* header{
    position: fixed;
} */
.kapitoly{
    position: sticky;
}