body{
    background-color: aqua;
}
#block{
    text-align: center;
}
.parent-block{
    background-color: #ffffff;
}

.child1{
    background-color: blueviolet;
    height: 100px;
}
.child2{
    background-color: red;
    height: 100px;
}
.child3{
    background-color: greenyellow;
    height: 200px;
}
.child4{
    background-color: burlywood;
    height: 100px;
}