body{
    background-color: rgba(0, 0, 0, 0.863);
    color: white;
    
}
header{
    display: flex;
    justify-content: flex-start;
    border: 3px solid black;
    text-transform: uppercase;
    border-radius: 20px;
    background-image: linear-gradient(to right,red, blue,rgb(0, 255, 140));
}   
.menu{
    display: flex;
    flex-direction:row;
    align-items: center;
    flex:1;
    justify-content: space-around;
}

 h3{
    font-size: 44px;
    padding: 5px;
    margin: 2px;
    border-radius: 10px;
 
    
 }
 h3:hover{
    background-color: blueviolet;
 }
 a{
    color: white;
    text-decoration: none;
 }
