
.wrapper{
    position: relative;
    width: 200px;
    height: 200px;
    left: 300px;
    top: 300px;
    border: 1px solid red;
}
.obdlznik,.kruh,.trojuholnik{
    position: absolute;
    
}

body{
    background-color: rgba(0, 0, 0, 0.644);
    color: white;
}
.obdlznik{
    top: 40px;
    left: 40px;
    height: 150px;
    width: 80px;
    background-color: blueviolet;
    z-index: 80;

}
.kruh{
    top: 60px;
    left: 70px;
    height: 80px;
    width: 80px;
    background-color: brown;
    border-radius: 100%;

}
.trojuholnik{
    top: 20px;
    left: 50px;
    height: 0;
    width: 0;
    border-style: solid;
    border-width: 50px 50px 0 50px;
    border-color: red transparent transparent transparent;
    z-index: 100;
    
}

