/* container */
.container{
    max-width: 1200px;
    margin: 0 auto;

}
/*    body    */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(8, 0, 91);
    background: #ffffff;
}
/*      header       */
a {
    text-decoration: none;
    color: inherit;
}

.header {
    padding: 25px 60px;
}

.header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    font-size: 26px;
    font-weight: 700;
}

.nav_1 ul {
    display: flex;
    gap: 35px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav_link {
    font-size: 15px;
    transition: 0.3s;
}

.nav_link:hover {
    color: #8b5cf6;
}
/*          buttons         */
.btn {
    background: #a855f7;
    color: white;
    border-radius: 25px;
    transition: 0.3s;
    text-align: center;
}

.btn {
    padding: 10px 22px;
    font-size: 14px;
}

.btn:hover {
    background: #9333ea;
}