/* container */
.container{
    max-width: 1200px;
    margin: 0 auto;

}
/*    body    */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(8, 0, 91);
    background: #ffffff;
}
/*      header       */
a {
    text-decoration: none;
    color: inherit;
}

.header {
    padding: 25px 60px;
}

.header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    font-size: 26px;
    font-weight: 700;
}

.nav_1 ul {
    display: flex;
    gap: 35px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav_link {
    font-size: 15px;
    transition: 0.3s;
}

.nav_link:hover {
    color: #8b5cf6;
}
/*          buttons         */
.btn {
    background: #a855f7;
    color: white;
    border-radius: 25px;
    transition: 0.3s;
    text-align: center;
}

.btn {
    padding: 10px 22px;
    font-size: 14px;
}

.btn:hover {
    background: #9333ea;
}
/*          main         */

.services{
    border: 2px solid black;
    width: 50%;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    box-shadow: 12px 12px 2px 1px rgb(0 0 255 / 0.2);
}
.what{
    border: 2px solid black;
    border-radius: 20px;
    width: 50%;
    padding: 20px;
    margin: 20px;
    box-shadow: 12px 12px 2px 1px rgb(0 0 255 / 0.2);
}
.why{
    border: 2px solid black;
    border-radius: 20px;
    width: 50%;
    padding: 20px;
    margin: 20px;
    box-shadow: 12px 12px 2px 1px rgb(0 0 255 / 0.2);
}
.main_content{
    display: flex;
    padding: 40px 0;

}
.main_content h2{
    font-size: 22px;
    margin-bottom: 15px;
    color: #1a237e;
    font-weight: 700;
}
.main_content p, .main_content li{
    font-size: 16px;
    line-height: 1.6;
}