body{
background-color: #222222;
color: rgba(255, 255, 255, 0.692);
}
h1{
    font-family: sans-serif;
    font-size: 28px;
    line-height: 28px;
    color:  #31db1a;
    text-transform: uppercase;
    letter-spacing: 5px;
    border: 1px solid white;
    text-align: center;
    display: inline-block;
    margin: 2px 20px;
    padding: 24px;
}
div{
    width: 200px;
    height: auto;
    /* background-color: #31db1a; */
    border: 2px solid #ffffff71;
    padding: 10px;
    border-radius: 8px ;
    margin: 10px;
}
img{
    width: 100%;
    height: auto;
}
a{
    color: rgba(255, 255, 255, 0.692);
}
