@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* keyframes */
@keyframes underlineGrow {
  from {
    width: 0%;
    opacity: 0;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

/* header */
.header {
    width: 100%;
    background-color: #22222296;
}

.header-content {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
    padding: 0 20px;
}

.logo {
    width: 60px;
    height: 60px;
    display: inline-block;
}

.img_logo {
    width: 100%;
    height: auto;
}

/* navigation */
.nav_list {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.nav_item {
    position: relative;
}

.nav_link {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #ffffff;
    position: relative;
    transition: color .3s;
}

.nav_link::after {
    position: absolute;
    bottom: -6px;
    left: 0;
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: #ff7900;
    opacity: 0;
}


.nav_link:hover {
    color: #ff7900;
}

.nav_link:hover::after {
    animation: underlineGrow 0.6s forwards;
}

/* button */
.btn {
    display: inline-block;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
    background-color: #ff7900;
    padding: 8px 20px;
    border-radius: 6px;
    text-transform: uppercase;
    transition: all .3s;
}

.btn:hover {
    background-color: #ffffff;
    color: #ff7900;
}
