body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .form1{
    width: 750px;
    margin-top: 20px;
    height: auto;
    border: 1px solid black;
    padding: 50px;
    border-radius: 20px;
    background-color: rgba(255, 115, 0, 0.507);
} */
#cislo1{
    margin-bottom: 10px;
}

form{
    width: 750px;
    border: 4px solid rgb(0, 255, 34);
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(0, 255, 85, 0.397);
}
form .row{
    margin-right: 0 !important;
    margin-left: 0 !important;
}
/* form label{
    padding: 0 !important;

}
form input{
    padding: 0 !important;
} */

.btn{
    margin-top: 20px;
    margin-left:10px ;
}